.editor {
    min-width: 450px;
    width: 40%;
    min-height: 700px;
}

.box-header {
    margin-bottom: 14px;
}

.editor__header {
    color: #ffc2e2;
}

.editor__input {
    width: 100%;
    border: 4px solid #ffc2e2;
    border-radius: 5px;
    outline: none;
}